@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 17 24 39;
}

.dark {
  --bg: 9 9 11;
  --fg: 244 244 245;
}

html, body {
  height: 100%;
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--fg));
}

::selection {
  background: rgba(59, 130, 246, 0.25);
}
