@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
.dark { color-scheme: dark; }

* { -webkit-tap-highlight-color: transparent; }

html, body { height: 100%; }

body { @apply bg-white text-zinc-950 dark:bg-zinc-950 dark:text-zinc-50; }

::selection { @apply bg-zinc-900 text-white dark:bg-zinc-100 dark:text-zinc-900; }
